@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html {
  background-color: #dee2e6;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(6, 70px);
}

.calc-result {
  grid-column: 1/span 4;
  background-color: #343a40;
  color: #fff;
  text-align: right;
  padding: 18px;
  font-size: 30px;
}

button {
  color: #fff;
  font-size: 16px;
  outline: none;
  border: 1px solid #343a34;
  background-color: #212529;
}

button:hover {
  background-color: #495057;
  border: 1px solid #495057;
}

.zero {
  grid-column: 1/span 2;
}

.calc-operators {
  background-color: #01497c;
  font-size: 20px;
}

.calc-operators:hover {
  background-color: #2a6f97;
  border: 1px solid #2a6f97;
}
