@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  overflow-x: hidden;
  background-color: #f7f9f9;
}

header {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 0 60px;
  box-sizing: border-box;
  background-color: #edf2fb;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}

#logo {
  font-size: 25px;
  color: #004e89;
}

.nav-link {
  text-decoration: none;
  color: #0d47a1;
  font-size: 18px;
  font-weight: 500;
  margin: 0 20px;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #1976d2;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-page {
  width: 60%;
}

#home-header {
  font-size: 32px;
  color: #1a659e;
}

#home-text {
  font-size: 16px;
  line-height: 1.3;
}

#calc-section {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

#calculator-header {
  font-size: 32px;
  color: #1a659e;
  margin-top: 100px;
}

.calc-container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(6, 70px);
  box-shadow: rgba(0, 0, 0, 0.2) 0 12px 28px 0, rgba(0, 0, 0, 0.1) 0 2px 4px 0, rgba(255, 255, 255, 0.05) 0 0 0 1px inset;
}

.calc-result {
  grid-column: 1 / span 4;
  background-color: #343a40;
  color: #fff;
  text-align: right;
  padding: 18px;
  font-size: 30px;
}

button {
  color: #fff;
  font-size: 16px;
  outline: none;
  border: 1px solid #343a34;
  background-color: #212529;
}

button:hover {
  background-color: #495057;
  border: 1px solid #495057;
}

.zero {
  grid-column: 1 / span 2;
}

.calc-operators {
  background-color: #1565c0;
  font-size: 20px;
}

.calc-operators:hover {
  background-color: #1976d2;
  border: 1px solid #1976d2;
}

#quote {
  width: 100%;
  height: 100%;
  background-image: url(./images/quote-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 40% 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote ul {
  border: 1px solid #e3f2fd;
  border-radius: 15px;
  padding: 25px;
  padding-left: 50px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}

#quote ul li {
  font-size: 18px;
  margin: 10px 0;
}

#quote ul li span {
  color: #21295c;
  font-weight: 500;
  margin-left: 15px;
}
